body {
	/* Background color is fallback */
	background-color: black;
	background-size: cover;
}

h1 {
	color: white;
	font-family: 'Monoton', cursive;
	font-size: 40px;
}

h2, h3, p, body {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px; /* best: 24px */
}

/*

BUTTONS

*/
button, input[type="submit"], input[type="reset"]  {
	color: #02a6f2; /* Blue button */
	cursor: pointer; /* Mouse pointer on hover */
	background: transparent;
	border: transparent;
	font-size: 20vmin;
	height: 100%;
}

button:hover {
	color: #59C9FD; /* Lighter blue on hover */
}

/*

PANELLING (CONTAINERS)

*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.grid-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(5, 1fr);
	margin: 0px;
	border: 0px;
	min-height: 0;
	min-width: 0;
}
.grid-panel {
	background-color: black;
	opacity: 0.88;
	text-align: center;
	display: table-cell;
	overflow: hidden;
	min-width: 0;
}
.grid-nopanel {
	background-color: transparent;
	text-align: center;
	display: table-cell;
	min-width: 0;
}
.grid-fullrow {
	grid-column: 1 / span 5;
	background-color: black;
	opacity: 0.88;
	overflow: hidden;
	min-width: 0;
	text-align: center;
}

.panel-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.panel-content-title {
	font-size: 32px;
}

.panel-content-spacer {
	height: 10%;
}

.notes-display {
	height: 100%;
	width: 100%;
}

.notes-content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	margin: 40px;
	padding: 10px;
}

/*

LOADING SCREEN

*/
#loading-screen {
	height: 100vh;
	width: 100vw;
	text-align: center;
}

.loading-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 30vh;
	padding-bottom: 10vh;
}

.loading-text {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}