html {
	/* Creates a left-to-right gradient overlay of the background image */
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(../../images/coffee-beans.jpg);
    background-size: cover
}

h1, h2, h3, p {
	color: white;
}

/* Style buttons */
button, input[type="submit"], input[type="reset"]  {
	font-size: 48px;
    border: none; /* Remove borders */
    background: transparent;
    color: blue; /* White text */
    padding: 12px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
button:hover {
    color: green;
} 

.slider-container {
    width: 50%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    cursor: pointer;
}