 /* Style buttons */
button, input[type="submit"], input[type="reset"]  {
	font-size: 48px;
    border: none; /* Remove borders */
    background: transparent;
    color: blue; /* White text */
    padding: 12px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
button:hover {
    color: green;
} 